include src/exogibbs/data/test/janaf_raw_sample.txt
include src/exogibbs/data/test/testdata.dat
include src/exogibbs/data/test/matrix_v3.dat
include src/exogibbs/data/ykb4/molecule_names.csv
include src/exogibbs/data/ykb4/gibbs_matrices.npz